.navigation {
    margin: 30px 0;
    display: flex;
    a{
        margin: 10 px;
        padding: 10 px;
        position: relative;
    }
    .nav-active{
        &::after{
            content: '';
            width: 85%;
            height: 5px;
            background: $color-1;
            position: absolute;
        }
    }
}